.pioenvs
CMakeListsPrivate.txt
.piolibdeps
.idea/
cmake-build-debug/

CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake


