.pioenvs
CMakeListsPrivate.txt
.piolibdeps
.idea/
cmake-build-debug/
cmake-build-all/
cmake-build-esp32_wifi_tft/
cmake-build-esp8266_wifi/
cmake-build-esp8266_serial/


CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake


/.vscode
/.pio

.DS_Store
